//config
//colors
$color-base: #1abc9c;
$color-base-light: #374362;
$color-gradient1: #b1193c;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;

//width
$smallest-width: 20em;
$very-small-width: 30em;
$small-width: 48em;
$medium-width: 60em;
$large-width: 75em;
$very-large-width: 100em;

$site-width: 75em;
